<%- include ('partials/header.ejs') %>
  <body>
    <%- include ('partials/navbar.ejs') %>
    
    <div class="container" id="content">
      <h2>Página inicial</h2>
    </div>

    <%- include ('partials/footer.ejs') %>

  </body>
</html>
